.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#parentmax{
    margin-top: 50px;
}

#main-filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#res-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.card-small{
    width: 18rem;
}

#results{
    flex: 8;
    justify-content: center;
    /* padding: 50px; */
}

.optional-filter{
    flex: 1;
    padding: 10px;
}

/* div{
    padding: 2px;
} */

#prices{
    display: flex;
    justify-content: center;
    text-align: center;
}

#about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pricestable{
    width: 60%;
}

#noresults{
    font-size: 50px;
    text-align: center;
    color: #ddd;
    padding: 100px;

}

.hotel_img_overlay{
    background: #333;
    opacity: 0.6;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.carddiv{
    margin-top: 5px;
}

.imgdiv{
    position: relative;
}

.hotelname{
    position: absolute;
    bottom: 0;
    color: #eee;
    padding: 10px;
    font-weight: 800;
}


.book-btn{
    width: 100%;
}

.hotelbody{
    background: #fff;
}

.chiptext{
    font-size: 10px;
    background: #eee;
    color: #333;
    padding: 5px;
    border-radius: 2px;
}

.navbar{
    display: flex;
}
.navbar-nav{
    width: 100%;
    justify-content: space-between;
}

.items{
    display: flex;
    flex-direction: row;
}

#prev_link,#next_link {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}  
.page-links{
    display: flex;

    flex-direction: row;

    justify-content: space-between;

    width: 100%;
}

